body {
    color: rgba(163, 36, 64, 0.473);
    text-align: center;
    background: rgb(208, 214, 200);
    margin: 0;
    padding: 0; 
}
#cuerpo{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid rgb(31, 70, 201);
    margin: 0 auto;
}
#cabecera{
    color: rgb(200, 221, 9);
    border: 3px solid saddlebrown;
    background: rgb(255, 255, 255) url("../Imagenes/header1.png") 5px 5px;
    border-radius: 5px;
    margin: 0;
    font-weight: bold;
    font-style: oblique;
    box-shadow: 0px 2px 20px rgb(0, 0, 0, .5);
    padding: 2cm;
}

#pies{
    color: rgb(231, 227, 223);
    border: 3px solid saddlebrown;
    background: blueviolet;
    border-radius: 5px;
}
#cuerpo h1{
    font-size: 70px;
}