body {
    color: blue;
    text-align: center;
    background: rgb(208, 214, 200);
    margin: 0;
    padding: 0; 
}
#cuerpo{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid rgb(31, 70, 201);
    margin: 0 auto;
}
#cabecera{
    color: rgb(231, 227, 223);
    border: 3px solid saddlebrown;
    background: red;
    border-radius: 5px;
}

#cuerpo h1{
    font-size: 70px;
}